@page{size:auto; margin:10%;}
*{padding:0; margin:0;}
ul,li{list-style:none;}
body{font-family:Arial, sans-serif; font-size:13px; line-height:20px; color:#333; background-color:#FFF;}
p{margin-bottom:20px;}
/*no imprimir*/
header a#idioma,header nav,footer,aside,.noImprimir{display:none!important;}
header{width:100%; height:86px; margin-bottom:20px;}
header a#logo img{width:240px; height:86px;}
header p#contacto{position:absolute; top:10px; right:10px; width:auto; font-weight:bold; text-align:right; margin:0;}
.statusProp,.precioProp{text-transform:uppercase; padding:1px 6px;}
.statusProp{color:#009966;}
.precioProp{color:#CC3333;}
.titulo{font-size:18px; font-weight:bold; color:#CC6633; text-transform:uppercase; display:block; margin-bottom:20px; border-bottom:#E6E6E6 1px solid;}
ul.datos,ul.amenidades,ul.galeria{overflow:hidden; margin-bottom:20px;}
ul.datos li{float:left; width:48%; overflow:hidden; font-size:14px; display:block; padding:1%; border-bottom:#E6E6E6 1px solid;}
ul.amenidades li{float:left; width:33%; list-style:inside square; line-height:20px;}
ul.galeria li{float:left; display:inline; width:23%; margin:1%;}