Options +FollowSymlinks

RewriteEngine on

RewriteBase /en/

Options -Multiviews

RewriteCond %{HTTP_HOST} ^geckocancuntours.com/ [NC]

RewriteRule (.*) http://www.geckocancuntours.com/$1 [L,R=301]

RewriteRule ^tours/([0-9]+)-(.+)\.php$ tours.php?id_cat=$1&nom_cat=$2 [L]
RewriteRule ^detalles/([0-9]+)-(.+)\.php$ tour.php?id_tour=$1$nom_tour=$2 [L]

ErrorDocument 404 http://www.geckocancuntours.com/en/