@charset "utf-8";
/* CSS Document */

.derecha { float: right; }
#mapCanvas { width: 100% !important; }

/*BOOTSTRAP*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {color: #FFF; background-color: #428bca; border: 1px solid #dddddd;}
a:hover, a:focus { color: #2a6496; text-decoration: none;}
.panel-default {border-color: #428bca;}
.panel-default > .panel-heading {color: #FFF; background-color: #428bca; border-color: #428bca;}
.rojo { color: #F00 !important; }
.verde { color: #060; }
https://www.youtube.com/watch?v=qCp0IJnBfsI